# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log

# Virtual env
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS crap
.DS_Store
Thumbs.db

# Local config / secrets
config.toml
.env
.env.*
